---
import { MOCK_BestSellers, MOCK_products } from "../../mocks/products";
import CategoryColumn from "../molecules/CategoryColumn.astro";
import ProductColumn from "../molecules/ProductColumn.astro";
import ProductsShowcase from "../organisms/ProductsShowcase.astro";
import ProductsView from "../organisms/ProductsView.astro";
---

<section class="grid gap-10 max-md:flex max-md:flex-col">
  <div class="flex flex-col gap-10">
    <CategoryColumn />
    <ProductColumn title="Best sellers" products={MOCK_BestSellers} />
  </div>
  <div class="flex flex-col gap-10 min-w-0">
    <ProductsShowcase />
    <ProductsView products={MOCK_products} />
  </div>
</section>

<style>
  section {
    grid-template-columns: 1fr 9fr;
  }
</style>
