---
import { appendUrlPath } from "../../utils/path";
import logo from "../../assets/logo.webp";
import { Image } from "astro:assets";

type AstroProps = {
  size: number;
};

const { size } = Astro.props as AstroProps;
---

<div
  style={{
    height: `${size * 0.3}px!important`,
    width: `${size * 0.8}px`,
    transform: "translate(0, -35%)",
  }}
  class="hover:animate-pulse max-[200px]:hidden"
>
  <a href={appendUrlPath("/")} aria-label="Home button">
    <Image
      src={logo}
      width={794}
      height={794}
      alt={"App logo"}
      style={{
        objectFit: "cover",
      }}
      class="max-sm:w-full"
    />
  </a>
</div>
