---
import { Button } from "../ui/button";
---

<section class="w-full mb-6 py-26">
  <div class="flex flex-col ml-10" style={{ width: "50%" }}>
    <h1 class="text-3xl font-bold text-blue-200">Trending Accessories</h1>
    <h2 class="text-5xl font-bold text-slate-100">Modern Products</h2>
    <div class="flex items-end mt-8 mb-1">
      <p class="text-blue-100">Starting at</p>
      <span class="text-2xl font-bold ml-2 text-red-200">$15.00</span>
    </div>
    <Button className="my-1 w-fit mt-5 hover:animate-pulse">SHOP NOW</Button>
  </div>
</section>

<style>
  section {
    background: url(../../assets/content/banner.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;

    div:first-child {
      padding: 35px;
    }
  }
</style>
