---
import { Image } from "astro:assets";
import banner from "../../assets/content/banner.jpg";
---

<section class="banner-container">
  <Image
    src={banner}
    alt={"Banner image"}
    class="banner-image"
    loading="eager"
  />
</section>

<style>
  .banner-container {
    max-width: 1150px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 7rem;
    position: relative;
    overflow: hidden;
    box-shadow: -1px 2px 7px 1px #2727275e;
    border-radius: 15px;
  }

  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    user-select: none;
    pointer-events: none;
  }

  .banner-container::before {
    content: "";
    display: block;
    padding-top: 49.25%;
  }

  .banner-container {
    position: relative;
  }

  .banner-image {
    position: absolute;
    top: 0;
    left: 0;
  }
</style>
