---
import { MOCK_categories } from "../../mocks/products";
import { ButtonAnchor } from "../ui/button_anchor";
---

<section class="mt-3">
  <h6 class="uppercase font-bold">categories</h6>
  <div class="flex flex-col gap-2 mt-3">
    {
      MOCK_categories.map((name) => (
        <ButtonAnchor
          key={name}
          variant={"secondary"}
          className="w-full capitalize"
          href="#products"
        >
          {name}
        </ButtonAnchor>
      ))
    }
  </div>
</section>
