---
import type { ProductType } from "../../models/product.model";
import { Product } from "./Product.tsx";

interface Props {
  title: string;
  products: ProductType[];
}

const { title, products } = Astro.props;
---

<div class="flex flex-col gap-2 w-full">
  <h5 class="font-bold ml-2 text-2xl mb-5">{title}</h5>
  {products.map((product) => <Product client:load {...product} />)}
</div>
