---
import { Button } from "../ui/button";
import { ButtonAnchor } from "../ui/button_anchor";

interface Props {
  title: string;
  content: {
    text: string;
    href?: string;
  }[];
}

const { title, content } = Astro.props as Props;
---

<div class="flex flex-col gap-4 border-l-1 border-green-700 p-4 pl-6">
  <p class="mb-3 text-start text-slate-100 font-bold">{title}</p>
  {
    content.map(({ text, href }) =>
      href ? (
        <ButtonAnchor
          variant="link"
          href={href}
          className="w-fit text-slate-300"
        >
          {text}
        </ButtonAnchor>
      ) : (
        <Button variant="link" className="w-fit text-slate-300">
          {text}
        </Button>
      )
    )
  }
</div>
