---
import { GithubButton } from "../atoms/GitHubButton";
---

<footer class="w-full relative mt-10 bg-slate-500">
  <div
    class="flex flex-col w-max m-auto py-6 justify-center items-center gap-4"
  >
    <p class="font-bold uppercase text-slate-100">Github</p>
    <GithubButton />
  </div>
</footer>
