---
import {
  MOCK_NewArrivals,
  MOCK_products,
  MOCK_TopRated,
  MOCK_Trending,
} from "../../mocks/products";
import ProductColumn from "../molecules/ProductColumn.astro";
---

<section id="popular" class="flex gap-3">
  <ProductColumn title="New Arrivals" products={MOCK_NewArrivals} />
  <ProductColumn title="Trending" products={MOCK_Trending} />
  <ProductColumn title="Top Rated" products={MOCK_TopRated} />
</section>
