---
import {
  MOCK_NewArrivals,
  MOCK_TopRated,
  MOCK_Trending,
} from "../../mocks/products";
import ProductColumn from "../molecules/ProductColumn.astro";
---

<section
  id="popular"
  class="grid gap-3 xl:grid-cols-3 lg:grid-cols-2 grid-cols-1"
>
  <ProductColumn title="New Arrivals" products={MOCK_NewArrivals} />
  <ProductColumn title="Trending" products={MOCK_Trending} />
  <ProductColumn title="Top Rated" products={MOCK_TopRated} />
</section>
