---
import type { ProductType } from "../../models/product.model";
import { Product } from "../molecules/Product.tsx";

interface Props {
  products: ProductType[];
}

const { products } = Astro.props;
---

<section id="products" class="mt-8">
  <h5 class="font-bold ml-2 uppercase">
    products ({products.length})
  </h5>
  <div
    class="grid gap-3 w-full items-start mt-5 xl:grid-cols-3 lg:grid-cols-2"
  >
    {products.map((product) => <Product client:load {...product} />)}
  </div>
</section>
