---
import { NavigationButton } from "../atoms/NavigationButton";
---

<section class="bg-green-600 dark:bg-green-800">
  <div>
    <NavigationButton href={"/"} text="home" className="max-[310px]:hidden" />
    <NavigationButton
      href={"/shop"}
      text="shop"
      className="max-[715px]:hidden"
    />
    <NavigationButton
      href={"#products"}
      text="categories"
      className="max-[410px]:hidden"
    />
    <NavigationButton
      href={"#products"}
      text="popular"
      className="max-[655px]:hidden"
    />
    <NavigationButton
      href={"#products"}
      text="newest"
      className="max-[715px]:hidden"
    />
    <NavigationButton href={"https://github.com/lukadevv"} text="github" />
  </div>
</section>

<style>
  section {
    box-shadow: #000000ba 0px -1px 2px 0px;

    div {
      display: flex;
      align-items: center;
      max-width: 580px;
      margin: auto;
      gap: 10px;
      justify-content: center;
    }
  }
</style>
