---
import { appendUrlPath } from "../../utils/path";
import { NavigationButton } from "../atoms/NavigationButton";
---

<section class="bg-slate-500">
  <div>
    <NavigationButton
      href={appendUrlPath("/")}
      text="home"
      className="max-[310px]:hidden"
    />
    <NavigationButton
      href={appendUrlPath("#products")}
      text="shop"
      className="max-[715px]:hidden"
    />
    <NavigationButton
      href={appendUrlPath("#products")}
      text="categories"
      className="max-[410px]:hidden"
    />
    <NavigationButton
      href={appendUrlPath("#popular")}
      text="popular"
      className="max-[655px]:hidden"
    />
    <NavigationButton
      href={appendUrlPath("#popular")}
      text="newest"
      className="max-[715px]:hidden"
    />
    <NavigationButton href={"https://github.com/lukadevv"} text="github" />
  </div>
</section>

<style>
  section {
    div {
      display: flex;
      align-items: center;
      max-width: 580px;
      margin: auto;
      gap: 10px;
      justify-content: center;
    }
  }
</style>
